* {
    font-family: 'Raleway', sans-serif;
}

body {
    /* Background pattern from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/)*/
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

input {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 7px;
    width: 100%;
    font-size: 24px;
    cursor: pointer;
}

.shortlink-copy{
    margin-bottom: 30px;
}

.linkinfo-copy{
    margin-bottom: 30px;
    font-size: inherit;
}

.copied-info{
    display: block;
    color: green;
    height: 20px;
}

label:first-of-type{
    font-size: 20px;
}

#id_shortlink{
    font-size: 24px;
    color: green;
}

p:nth-of-type(2) {
    text-align: left;
}

#id_check {
    width: auto;
}

p:nth-of-type(2) label {
    font-size: 16px;
}

.errorlist li{
    list-style-type: none;
    color: red;
}

nav {
    border-bottom: 2px solid gray;
    margin: 0px;
    padding: 0px;

}


nav a h1 {
    margin: 0px;
}

nav a{
    text-decoration: none;
    color: black;

}

nav a:visited{
    color: black;
}
