<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Shortened successfully!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'shortener/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
</head>
<body>
<nav><a href="/"><h1><i class="fa fa-home" aria-hidden="true"></i> URLShortener</h1></a></nav>
<div class="outer">
    <div class="middle">
        <div class="inner">
            <p>
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
            </p>
        </div>
    </div>
</div>

<script src="{% static 'shortener/script.js' %}"></script>
</body>
</html>