{% if url_shorten_form %}
    <form name="url_shorten_form" action="{% url 'shortener:shorten' %}" method="post">
        {% csrf_token %}
        {{ url_shorten_form.as_p }}
        <button type="submit">Shorten your URL</button>
    </form>
{% endif %}