<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>URL info</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shortener/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
</head>
<body>
<nav><a href="/"><h1><i class="fa fa-home" aria-hidden="true"></i> URLShortener</h1></a></nav>
<div class="outer">
    <div class="middle">
        <div class="inner">
            <h1>Link information</h1>
            <div><span>Shortcut: </span><span>{{ shortcut }}</span></div>
            <div><span>Original URL: </span><span><a href="{{ original_url }}">{{ original_url }}</a></span></div>
            <div><span>Date published: </span><span>{{ pub_date }}</span></div>
            <div><span>Times visited: </span><span>{{ times_visited }}</span></div>
        </div>
    </div>
</div>
</body>
</html>