<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Shortened successfully!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'shortener/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
</head>
<body>
<nav><a href="/"><h1><i class="fa fa-home" aria-hidden="true"></i> URLShortener</h1></a></nav>
<div class="outer">
    <div class="middle">
        <div class="inner">
            <p>
                <label for="id_shortlink">Your new, short URL:</label>
                <input type="text" name="shortlink" id="id_shortlink" value="http://{{ domain_name }}{% url 'shortener:redirect' shortened_url.shortcut %}"/>
                <button type="button" class="shortlink-copy">Copy to clipboard</button>

                <label for="id_linkinfo">You can check information about this link at :</label>
                <input type="text" name="linkinfo" id="id_linkinfo" value="http://{{ domain_name }}{% url 'shortener:info' shortened_url.shortcut %}"/>
                <button type="button" class="linkinfo-copy">Copy to clipboard</button>
            </p>
        </div>
    </div>
</div>

<script src="{% static 'shortener/script.js' %}"></script>
</body>
</html>